.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-container {
  display: flex;
  flex-direction: column;
   align-items: center;
   gap: 10px;
}

.instruction-text {
  color: #282c34;
  font-size: 30px;
}

.logo-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  padding-left: 30px;
  padding-top: 15px;
}

.submit-button {
  background: linear-gradient(90deg, #D4F994 0%, #9FEEAB 33%, #43DCD6 66%, #07BFD9 100%);
  border: none;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* boxShadow: 0 4px 8px 0 rgba(0,0,0,0.2); Uncomment if shadow is desired */
  /* transition: 0.3s; Uncomment if transition is desired */
}

.text-box {
  border-radius: 40px;
  height: 40px;
  width: 550px;
  padding-left: 8px;

}

.test-aid-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Adjust based on your preference */
  text-align: left; /* Aligns text to the left */
}

.speech-bubble:after {
  content: ''; /* This property is necessary and must not be omitted */
  position: absolute; /* Positions the pseudo-element relative to the speech bubble */
  bottom: -10px; /* Negative value to position the tail below the speech bubble */
  left: 50%; /* Start at 50% from the left */
  border-width: 15px; /* Size of the tail */
  border-style: solid; /* Required for the border to show */
  border-color: transparent transparent #fff transparent; /* Only the top border shows */
  margin-left: -15px; /* Half the width of the tail to center it */
  transform: translateX(-50%); /* Ensures the tail is centered at the bottom */
}

.speech-bubble p {
  margin: 0;
  color: #000; /* Or any color you prefer */
  font-size: 18px; /* Adjust based on your preference */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
