/* src/index.css */
@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('./fonts/HKGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Add other font weights and styles as needed */

/* Apply HK Grotesk as the default font for the body element, and thus, the whole application */
body {
  font-family: 'HK Grotesk', sans-serif;
}
